.n1 {
    text-align: center;
    padding: 50px;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: skyblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }