.login-container {
    max-width: 300px;
    margin: 50px auto;
    padding: 1em;
    background:white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-container form {
    display: flex;
    flex-direction: column;
  }
  
  .login-container input,
  .login-container button {
    margin: 10px 0;
    padding: 10px;
  }